.landing_page {
    position: relative;
    width: 1440px;
    height: 1024px;
    overflow-y: scroll;
    background: #ebebeb;
    
}

.main_image{
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 0px;
    height: 389px;
    border-radius: 0px;

}

.logo {
    position: absolute;
    height: 20px;
    width: 128px;
    left: 166px;
    top: 35px;
    border-radius: 0px;

}

#About {
    position: absolute;
    height: 17px;
    width: 88px;
    left: 987px;
    top: 44px;
    border-radius: nullpx;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

}

#Discover {
    position: absolute;
    width: 88px;
    height: 17px;
    left: 1105px;
    top: 44px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

#Get_Started {
    position: absolute;
    width: 121px;
    height: 17px;
    left: 1223px;
    top: 44px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.logo_mastercraft {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 338px;
    top: -20px;
}

.about_mastercraft {
    position: absolute;
    width: 728px;
    height: 270px;
    left: 354px;
    top: 283px;

    background: #FFFFFF;
    box-shadow: -5px 8px 4px
              rgba(0, 0, 0, 0.25), 
              5px 0px 4px 2px
              rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#mastercraft {
    position: absolute;
    width: 637px;
    height: 26px;
    left: 52px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

#description {
    position: absolute;
    width: 637px;
    height: 36px;
    left: 47px;
    top: 83px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

color: #A7A7A7;
}

.big_button {
    position: absolute;
    width: 242px;
    height: 56px;
    left: 52px;
    top: 166px;

    background: #3CB4AC;
    border-radius: 35px;
}

#button_description {
    position: absolute;
    width: 152px;
    height: 23px;
    left: 45px;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.bookmark_button {
    position: absolute;
    width: 179px;
    height: 56px;
    left: 499px;
    top: 166px;
    
    background: #a7a7a7;
    border-radius: 35px;
}

#bookmark {
    position: absolute;
    width: 94px;
    height: 18px;
    left: 68px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #737373;
}

.stats_container {
    position: absolute;
    width: 728px;
    height: 185px;
    left: 356px;
    top: 593px;

    background: #FFFFFF;
    box-shadow: -5px 8px 4px rgba(0, 0, 0, 0.25), 5px 0px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#money {
    position: absolute;
    width: 97px;
    height: 32px;
    left: 50px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    
    text-align: center;
    

}

#money_description {
    position: absolute;
    width: 114px;
    height: 12px;
    left: 50px;
    top: 57px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #a7a7a7;
}

#line1 {
    position: absolute;
    width: 74px;
    height: 0px;
    left: 247px;
    top: 40px;

    border: 1px solid #A7A7A7;
    transform: rotate(90deg);
}
#number_of_backers {
    position: absolute;
    width: 66px;
    height: 32px;
    left: 331px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
}

#number_description {
    position: absolute;
    width: 75px;
    height: 12px;
    left: 331px;
    top: 57px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #A7A7A7;
}


#line2 {
    position: absolute;
    width: 74px;
    height: 0px;
    left: 497px;
    top: 40px;

    border: 1px solid #A7A7A7;
    transform: rotate(90deg);
}

#days {
    position: absolute;
    width: 31px;
    height: 25px;
    left: 581px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
}


#days_description {
    position: absolute;
    width: 50px;
    height: 12px;
    left: 581px;
    top: 57px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #A7A7A7;
}

.filling {
    position: absolute;
    width: 536px;
    height: 14px;
    left: 52px;
    top: 119px;

    background: #3CB4AC;
    border-radius: 7px;
}

#rest {
    position: absolute;
    width: 86px;
    height: 14px;
    left: 581px;
    top: 119px;

    background: rgba(167, 167, 167, 0.7);
    opacity: 0.3;
    border-radius: 0px 7px 7px 0px;
}